@font-face {
  font-family: "SplatFont";
  src: url("~@/assets/fonts/Splatfont.woff") format("woff"),
  url("~@/assets/fonts/Splatfont.woff2") format("woff2");
}

@font-face {
  font-family: "SplatFont2";
  src: url("~@/assets/fonts/Splatfont2.woff") format("woff"),
  url("~@/assets/fonts/Splatfont2.woff2") format("woff2");
}